:root{
	--color-yellow: #F8DC81;
	--color-white: #eff7e1;
	--color-whgreen: #A2D0C1;
	--color-navy: #214151;
	--color-navyGlass: #21415191;
}
.integratedImage{
	margin-block: 20px;
	margin-inline: 1.5vw;
}

.arrs-wr {
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
	margin-top: calc(-2.5vh);/* Отступ сверху на 10px от brainchild */
    width: 100%; /* Ширина контейнера */
}

[display="none"]{
	display: none;
}

.cont{
	color: var(--color-navy);
    cursor: pointer;
}

.cont:active {
	color: var(--color-navy);
}
.cont:hover {
	color: var(--color-navy);
	text-shadow: 0px 0px 2px var(--color-yellow);
}

.arrow {
	min-width: 35px;
	min-height: 35px;
	max-width: 40px;
	max-height: 40px;
    background-color: var(--color-navy);
    border-color: var(--color-white);
    border-style: solid;
    border-width: 0.2rem;
    height: 4vmin;
    width: 4vmin;
    cursor: pointer;
	z-index: 99;
	color:var(--color-white);
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */ /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.arrow:hover{
	color: var(--color-yellow);
	border-color: var(--color-yellow);
}



.bcs-wrapper {
    width: 100%; /* Ширина контейнера */
    overflow-y: scroll; /* Скрываем всё, что выходит за пределы */
}

.header {
	background-color: var(--color-navy);
	padding: 30px 25px;
	position: -webkit-sticky;
	position: sticky;
	top: 1.8vh;
	margin-left: 13vw;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	z-index: 100;
}

body {
	margin: 10px;
	background-color: var(--color-navy);
	font-family: "Handjet", serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	font-variation-settings: "ELGR" 1, "ELSH" 2;
	font-smooth: never;
	-webkit-font-smoothing: none;
	letter-spacing: 0,5em;
}

nav a.active {
	color: var(--color-whgreen);
	font-size: clamp(0px, 5.3vw, 32px);
	font-weight: bold;
}


nav a:hover {
	color: var(--color-yellow);
}

nav {
	display: flex;
	flex-wrap: wrap;
	gap: 1.9vw;
}

html {
	scroll-behavior: smooth;
	-ms-overflow-style: none; /* IE 10+ */
	scrollbar-width: none; /* Firefox */
	letter-spacing: 0.02em;
}

::-webkit-scrollbar {
	/* chrome based */
	width: 0px; /* ширина scrollbar'a */
	background: transparent; /* опционально */
}

nav a {
	color: var(--color-white);
	text-decoration: none;
	transition: 0.2s;
	font-size: clamp(0px, 5vw, 30px);
}

.pixel-corners,
.pixel-corners--wrapper {
	-webkit-clip-path: polygon(
		0px calc(100% - 18px),
		2px calc(100% - 18px),
		2px calc(100% - 16px),
		2px calc(100% - 12px),
		4px calc(100% - 12px),
		4px calc(100% - 10px),
		6px calc(100% - 10px),
		6px calc(100% - 8px),
		8px calc(100% - 6px),
		10px calc(100% - 6px),
		10px calc(100% - 4px),
		12px calc(100% - 4px),
		12px calc(100% - 2px),
		16px calc(100% - 2px),
		18px calc(100% - 2px),
		18px 100%,
		calc(100% - 18px) 100%,
		calc(100% - 18px) calc(100% - 2px),
		calc(100% - 16px) calc(100% - 2px),
		calc(100% - 12px) calc(100% - 2px),
		calc(100% - 12px) calc(100% - 4px),
		calc(100% - 10px) calc(100% - 4px),
		calc(100% - 10px) calc(100% - 6px),
		calc(100% - 8px) calc(100% - 6px),
		calc(100% - 6px) calc(100% - 8px),
		calc(100% - 6px) calc(100% - 10px),
		calc(100% - 4px) calc(100% - 10px),
		calc(100% - 4px) calc(100% - 12px),
		calc(100% - 2px) calc(100% - 12px),
		calc(100% - 2px) calc(100% - 16px),
		calc(100% - 2px) calc(100% - 18px),
		100% calc(100% - 18px),
		100% 18px,
		calc(100% - 2px) 18px,
		calc(100% - 2px) 16px,
		calc(100% - 2px) 12px,
		calc(100% - 4px) 12px,
		calc(100% - 4px) 10px,
		calc(100% - 6px) 10px,
		calc(100% - 6px) 8px,
		calc(100% - 8px) 6px,
		calc(100% - 10px) 6px,
		calc(100% - 10px) 4px,
		calc(100% - 12px) 4px,
		calc(100% - 12px) 2px,
		calc(100% - 16px) 2px,
		calc(100% - 18px) 2px,
		calc(100% - 18px) 0px,
		18px 0px,
		18px 2px,
		16px 2px,
		12px 2px,
		12px 4px,
		10px 4px,
		10px 6px,
		8px 6px,
		6px 8px,
		6px 10px,
		4px 10px,
		4px 12px,
		2px 12px,
		2px 16px,
		2px 18px,
		0px 18px
	);
	        clip-path: polygon(
		0px calc(100% - 18px),
		2px calc(100% - 18px),
		2px calc(100% - 16px),
		2px calc(100% - 12px),
		4px calc(100% - 12px),
		4px calc(100% - 10px),
		6px calc(100% - 10px),
		6px calc(100% - 8px),
		8px calc(100% - 6px),
		10px calc(100% - 6px),
		10px calc(100% - 4px),
		12px calc(100% - 4px),
		12px calc(100% - 2px),
		16px calc(100% - 2px),
		18px calc(100% - 2px),
		18px 100%,
		calc(100% - 18px) 100%,
		calc(100% - 18px) calc(100% - 2px),
		calc(100% - 16px) calc(100% - 2px),
		calc(100% - 12px) calc(100% - 2px),
		calc(100% - 12px) calc(100% - 4px),
		calc(100% - 10px) calc(100% - 4px),
		calc(100% - 10px) calc(100% - 6px),
		calc(100% - 8px) calc(100% - 6px),
		calc(100% - 6px) calc(100% - 8px),
		calc(100% - 6px) calc(100% - 10px),
		calc(100% - 4px) calc(100% - 10px),
		calc(100% - 4px) calc(100% - 12px),
		calc(100% - 2px) calc(100% - 12px),
		calc(100% - 2px) calc(100% - 16px),
		calc(100% - 2px) calc(100% - 18px),
		100% calc(100% - 18px),
		100% 18px,
		calc(100% - 2px) 18px,
		calc(100% - 2px) 16px,
		calc(100% - 2px) 12px,
		calc(100% - 4px) 12px,
		calc(100% - 4px) 10px,
		calc(100% - 6px) 10px,
		calc(100% - 6px) 8px,
		calc(100% - 8px) 6px,
		calc(100% - 10px) 6px,
		calc(100% - 10px) 4px,
		calc(100% - 12px) 4px,
		calc(100% - 12px) 2px,
		calc(100% - 16px) 2px,
		calc(100% - 18px) 2px,
		calc(100% - 18px) 0px,
		18px 0px,
		18px 2px,
		16px 2px,
		12px 2px,
		12px 4px,
		10px 4px,
		10px 6px,
		8px 6px,
		6px 8px,
		6px 10px,
		4px 10px,
		4px 12px,
		2px 12px,
		2px 16px,
		2px 18px,
		0px 18px
	);
}
.pixel-corners {
	border: 2px solid transparent;
}
.pixel-corners--wrapper {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
}
.pixel-corners--wrapper .pixel-corners {
	display: block;
	-webkit-clip-path: polygon(
		2px 18px,
		4px 18px,
		4px 16px,
		4px 12px,
		6px 12px,
		6px 10px,
		8px 10px,
		8px 8px,
		10px 8px,
		10px 6px,
		12px 6px,
		12px 4px,
		16px 4px,
		18px 4px,
		18px 2px,
		calc(100% - 18px) 2px,
		calc(100% - 18px) 4px,
		calc(100% - 16px) 4px,
		calc(100% - 12px) 4px,
		calc(100% - 12px) 6px,
		calc(100% - 10px) 6px,
		calc(100% - 10px) 8px,
		calc(100% - 8px) 8px,
		calc(100% - 8px) 10px,
		calc(100% - 6px) 10px,
		calc(100% - 6px) 12px,
		calc(100% - 4px) 12px,
		calc(100% - 4px) 16px,
		calc(100% - 4px) 18px,
		calc(100% - 2px) 18px,
		calc(100% - 2px) calc(100% - 18px),
		calc(100% - 4px) calc(100% - 18px),
		calc(100% - 4px) calc(100% - 16px),
		calc(100% - 4px) calc(100% - 12px),
		calc(100% - 6px) calc(100% - 12px),
		calc(100% - 6px) calc(100% - 10px),
		calc(100% - 8px) calc(100% - 10px),
		calc(100% - 8px) calc(100% - 8px),
		calc(100% - 10px) calc(100% - 8px),
		calc(100% - 10px) calc(100% - 6px),
		calc(100% - 12px) calc(100% - 6px),
		calc(100% - 12px) calc(100% - 4px),
		calc(100% - 16px) calc(100% - 4px),
		calc(100% - 18px) calc(100% - 4px),
		calc(100% - 18px) calc(100% - 2px),
		18px calc(100% - 2px),
		18px calc(100% - 4px),
		16px calc(100% - 4px),
		12px calc(100% - 4px),
		12px calc(100% - 6px),
		10px calc(100% - 6px),
		10px calc(100% - 8px),
		8px calc(100% - 8px),
		8px calc(100% - 10px),
		6px calc(100% - 10px),
		6px calc(100% - 12px),
		4px calc(100% - 12px),
		4px calc(100% - 16px),
		4px calc(100% - 18px),
		2px calc(100% - 18px)
	);
	        clip-path: polygon(
		2px 18px,
		4px 18px,
		4px 16px,
		4px 12px,
		6px 12px,
		6px 10px,
		8px 10px,
		8px 8px,
		10px 8px,
		10px 6px,
		12px 6px,
		12px 4px,
		16px 4px,
		18px 4px,
		18px 2px,
		calc(100% - 18px) 2px,
		calc(100% - 18px) 4px,
		calc(100% - 16px) 4px,
		calc(100% - 12px) 4px,
		calc(100% - 12px) 6px,
		calc(100% - 10px) 6px,
		calc(100% - 10px) 8px,
		calc(100% - 8px) 8px,
		calc(100% - 8px) 10px,
		calc(100% - 6px) 10px,
		calc(100% - 6px) 12px,
		calc(100% - 4px) 12px,
		calc(100% - 4px) 16px,
		calc(100% - 4px) 18px,
		calc(100% - 2px) 18px,
		calc(100% - 2px) calc(100% - 18px),
		calc(100% - 4px) calc(100% - 18px),
		calc(100% - 4px) calc(100% - 16px),
		calc(100% - 4px) calc(100% - 12px),
		calc(100% - 6px) calc(100% - 12px),
		calc(100% - 6px) calc(100% - 10px),
		calc(100% - 8px) calc(100% - 10px),
		calc(100% - 8px) calc(100% - 8px),
		calc(100% - 10px) calc(100% - 8px),
		calc(100% - 10px) calc(100% - 6px),
		calc(100% - 12px) calc(100% - 6px),
		calc(100% - 12px) calc(100% - 4px),
		calc(100% - 16px) calc(100% - 4px),
		calc(100% - 18px) calc(100% - 4px),
		calc(100% - 18px) calc(100% - 2px),
		18px calc(100% - 2px),
		18px calc(100% - 4px),
		16px calc(100% - 4px),
		12px calc(100% - 4px),
		12px calc(100% - 6px),
		10px calc(100% - 6px),
		10px calc(100% - 8px),
		8px calc(100% - 8px),
		8px calc(100% - 10px),
		6px calc(100% - 10px),
		6px calc(100% - 12px),
		4px calc(100% - 12px),
		4px calc(100% - 16px),
		4px calc(100% - 18px),
		2px calc(100% - 18px)
	);
}
.pixel-corners::after,
.pixel-corners--wrapper::after {
	content: "";
	position: absolute;
	-webkit-clip-path: polygon(
		0px calc(100% - 18px),
		2px calc(100% - 18px),
		2px calc(100% - 16px),
		2px calc(100% - 12px),
		4px calc(100% - 12px),
		4px calc(100% - 10px),
		6px calc(100% - 10px),
		6px calc(100% - 8px),
		8px calc(100% - 6px),
		10px calc(100% - 6px),
		10px calc(100% - 4px),
		12px calc(100% - 4px),
		12px calc(100% - 2px),
		16px calc(100% - 2px),
		18px calc(100% - 2px),
		18px 100%,
		calc(100% - 18px) 100%,
		calc(100% - 18px) calc(100% - 2px),
		calc(100% - 16px) calc(100% - 2px),
		calc(100% - 12px) calc(100% - 2px),
		calc(100% - 12px) calc(100% - 4px),
		calc(100% - 10px) calc(100% - 4px),
		calc(100% - 10px) calc(100% - 6px),
		calc(100% - 8px) calc(100% - 6px),
		calc(100% - 6px) calc(100% - 8px),
		calc(100% - 6px) calc(100% - 10px),
		calc(100% - 4px) calc(100% - 10px),
		calc(100% - 4px) calc(100% - 12px),
		calc(100% - 2px) calc(100% - 12px),
		calc(100% - 2px) calc(100% - 16px),
		calc(100% - 2px) calc(100% - 18px),
		100% calc(100% - 18px),
		100% 18px,
		calc(100% - 2px) 18px,
		calc(100% - 2px) 16px,
		calc(100% - 2px) 12px,
		calc(100% - 4px) 12px,
		calc(100% - 4px) 10px,
		calc(100% - 6px) 10px,
		calc(100% - 6px) 8px,
		calc(100% - 8px) 6px,
		calc(100% - 10px) 6px,
		calc(100% - 10px) 4px,
		calc(100% - 12px) 4px,
		calc(100% - 12px) 2px,
		calc(100% - 16px) 2px,
		calc(100% - 18px) 2px,
		calc(100% - 18px) 0px,
		18px 0px,
		18px 2px,
		16px 2px,
		12px 2px,
		12px 4px,
		10px 4px,
		10px 6px,
		8px 6px,
		6px 8px,
		6px 10px,
		4px 10px,
		4px 12px,
		2px 12px,
		2px 16px,
		2px 18px,
		0px 18px,
		0px 50%,
		2px 50%,
		2px 18px,
		4px 18px,
		4px 16px,
		4px 12px,
		6px 12px,
		6px 10px,
		8px 10px,
		8px 8px,
		10px 8px,
		10px 6px,
		12px 6px,
		12px 4px,
		16px 4px,
		18px 4px,
		18px 2px,
		calc(100% - 18px) 2px,
		calc(100% - 18px) 4px,
		calc(100% - 16px) 4px,
		calc(100% - 12px) 4px,
		calc(100% - 12px) 6px,
		calc(100% - 10px) 6px,
		calc(100% - 10px) 8px,
		calc(100% - 8px) 8px,
		calc(100% - 8px) 10px,
		calc(100% - 6px) 10px,
		calc(100% - 6px) 12px,
		calc(100% - 4px) 12px,
		calc(100% - 4px) 16px,
		calc(100% - 4px) 18px,
		calc(100% - 2px) 18px,
		calc(100% - 2px) calc(100% - 18px),
		calc(100% - 4px) calc(100% - 18px),
		calc(100% - 4px) calc(100% - 16px),
		calc(100% - 4px) calc(100% - 12px),
		calc(100% - 6px) calc(100% - 12px),
		calc(100% - 6px) calc(100% - 10px),
		calc(100% - 8px) calc(100% - 10px),
		calc(100% - 8px) calc(100% - 8px),
		calc(100% - 10px) calc(100% - 8px),
		calc(100% - 10px) calc(100% - 6px),
		calc(100% - 12px) calc(100% - 6px),
		calc(100% - 12px) calc(100% - 4px),
		calc(100% - 16px) calc(100% - 4px),
		calc(100% - 18px) calc(100% - 4px),
		calc(100% - 18px) calc(100% - 2px),
		18px calc(100% - 2px),
		18px calc(100% - 4px),
		16px calc(100% - 4px),
		12px calc(100% - 4px),
		12px calc(100% - 6px),
		10px calc(100% - 6px),
		10px calc(100% - 8px),
		8px calc(100% - 8px),
		8px calc(100% - 10px),
		6px calc(100% - 10px),
		6px calc(100% - 12px),
		4px calc(100% - 12px),
		4px calc(100% - 16px),
		4px calc(100% - 18px),
		2px calc(100% - 18px),
		2px 50%,
		0px 50%
	);
	        clip-path: polygon(
		0px calc(100% - 18px),
		2px calc(100% - 18px),
		2px calc(100% - 16px),
		2px calc(100% - 12px),
		4px calc(100% - 12px),
		4px calc(100% - 10px),
		6px calc(100% - 10px),
		6px calc(100% - 8px),
		8px calc(100% - 6px),
		10px calc(100% - 6px),
		10px calc(100% - 4px),
		12px calc(100% - 4px),
		12px calc(100% - 2px),
		16px calc(100% - 2px),
		18px calc(100% - 2px),
		18px 100%,
		calc(100% - 18px) 100%,
		calc(100% - 18px) calc(100% - 2px),
		calc(100% - 16px) calc(100% - 2px),
		calc(100% - 12px) calc(100% - 2px),
		calc(100% - 12px) calc(100% - 4px),
		calc(100% - 10px) calc(100% - 4px),
		calc(100% - 10px) calc(100% - 6px),
		calc(100% - 8px) calc(100% - 6px),
		calc(100% - 6px) calc(100% - 8px),
		calc(100% - 6px) calc(100% - 10px),
		calc(100% - 4px) calc(100% - 10px),
		calc(100% - 4px) calc(100% - 12px),
		calc(100% - 2px) calc(100% - 12px),
		calc(100% - 2px) calc(100% - 16px),
		calc(100% - 2px) calc(100% - 18px),
		100% calc(100% - 18px),
		100% 18px,
		calc(100% - 2px) 18px,
		calc(100% - 2px) 16px,
		calc(100% - 2px) 12px,
		calc(100% - 4px) 12px,
		calc(100% - 4px) 10px,
		calc(100% - 6px) 10px,
		calc(100% - 6px) 8px,
		calc(100% - 8px) 6px,
		calc(100% - 10px) 6px,
		calc(100% - 10px) 4px,
		calc(100% - 12px) 4px,
		calc(100% - 12px) 2px,
		calc(100% - 16px) 2px,
		calc(100% - 18px) 2px,
		calc(100% - 18px) 0px,
		18px 0px,
		18px 2px,
		16px 2px,
		12px 2px,
		12px 4px,
		10px 4px,
		10px 6px,
		8px 6px,
		6px 8px,
		6px 10px,
		4px 10px,
		4px 12px,
		2px 12px,
		2px 16px,
		2px 18px,
		0px 18px,
		0px 50%,
		2px 50%,
		2px 18px,
		4px 18px,
		4px 16px,
		4px 12px,
		6px 12px,
		6px 10px,
		8px 10px,
		8px 8px,
		10px 8px,
		10px 6px,
		12px 6px,
		12px 4px,
		16px 4px,
		18px 4px,
		18px 2px,
		calc(100% - 18px) 2px,
		calc(100% - 18px) 4px,
		calc(100% - 16px) 4px,
		calc(100% - 12px) 4px,
		calc(100% - 12px) 6px,
		calc(100% - 10px) 6px,
		calc(100% - 10px) 8px,
		calc(100% - 8px) 8px,
		calc(100% - 8px) 10px,
		calc(100% - 6px) 10px,
		calc(100% - 6px) 12px,
		calc(100% - 4px) 12px,
		calc(100% - 4px) 16px,
		calc(100% - 4px) 18px,
		calc(100% - 2px) 18px,
		calc(100% - 2px) calc(100% - 18px),
		calc(100% - 4px) calc(100% - 18px),
		calc(100% - 4px) calc(100% - 16px),
		calc(100% - 4px) calc(100% - 12px),
		calc(100% - 6px) calc(100% - 12px),
		calc(100% - 6px) calc(100% - 10px),
		calc(100% - 8px) calc(100% - 10px),
		calc(100% - 8px) calc(100% - 8px),
		calc(100% - 10px) calc(100% - 8px),
		calc(100% - 10px) calc(100% - 6px),
		calc(100% - 12px) calc(100% - 6px),
		calc(100% - 12px) calc(100% - 4px),
		calc(100% - 16px) calc(100% - 4px),
		calc(100% - 18px) calc(100% - 4px),
		calc(100% - 18px) calc(100% - 2px),
		18px calc(100% - 2px),
		18px calc(100% - 4px),
		16px calc(100% - 4px),
		12px calc(100% - 4px),
		12px calc(100% - 6px),
		10px calc(100% - 6px),
		10px calc(100% - 8px),
		8px calc(100% - 8px),
		8px calc(100% - 10px),
		6px calc(100% - 10px),
		6px calc(100% - 12px),
		4px calc(100% - 12px),
		4px calc(100% - 16px),
		4px calc(100% - 18px),
		2px calc(100% - 18px),
		2px 50%,
		0px 50%
	);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: var(--color-white);
	display: block;
	pointer-events: none;
}
.pixel-corners::after {
	margin: -2px;
}

.content-container .content-wrapper {
	flex-grow: 1; /* Растягиваем контент на всю доступную высоту */
	overflow-y: scroll; /* Прокрутка только внутри контента */
	
}

.content-container {
	height: auto;
	margin-bottom: 6vh;
	margin-left: 3vw;
	margin-right: 3vw;
	padding: 3vmin;
	background-color: var(--color-white);
	-webkit-clip-path: polygon(
		0px calc(100% - 10px),
		2px calc(100% - 10px),
		2px calc(100% - 6px),
		4px calc(100% - 6px),
		4px calc(100% - 4px),
		6px calc(100% - 4px),
		6px calc(100% - 2px),
		10px calc(100% - 2px),
		10px 100%,
		calc(100% - 10px) 100%,
		calc(100% - 10px) calc(100% - 2px),
		calc(100% - 6px) calc(100% - 2px),
		calc(100% - 6px) calc(100% - 4px),
		calc(100% - 4px) calc(100% - 4px),
		calc(100% - 4px) calc(100% - 6px),
		calc(100% - 2px) calc(100% - 6px),
		calc(100% - 2px) calc(100% - 10px),
		100% calc(100% - 10px),
		100% 10px,
		calc(100% - 2px) 10px,
		calc(100% - 2px) 6px,
		calc(100% - 4px) 6px,
		calc(100% - 4px) 4px,
		calc(100% - 6px) 4px,
		calc(100% - 6px) 2px,
		calc(100% - 10px) 2px,
		calc(100% - 10px) 0px,
		10px 0px,
		10px 2px,
		6px 2px,
		6px 4px,
		4px 4px,
		4px 6px,
		2px 6px,
		2px 10px,
		0px 10px
	);

	        clip-path: polygon(
		0px calc(100% - 10px),
		2px calc(100% - 10px),
		2px calc(100% - 6px),
		4px calc(100% - 6px),
		4px calc(100% - 4px),
		6px calc(100% - 4px),
		6px calc(100% - 2px),
		10px calc(100% - 2px),
		10px 100%,
		calc(100% - 10px) 100%,
		calc(100% - 10px) calc(100% - 2px),
		calc(100% - 6px) calc(100% - 2px),
		calc(100% - 6px) calc(100% - 4px),
		calc(100% - 4px) calc(100% - 4px),
		calc(100% - 4px) calc(100% - 6px),
		calc(100% - 2px) calc(100% - 6px),
		calc(100% - 2px) calc(100% - 10px),
		100% calc(100% - 10px),
		100% 10px,
		calc(100% - 2px) 10px,
		calc(100% - 2px) 6px,
		calc(100% - 4px) 6px,
		calc(100% - 4px) 4px,
		calc(100% - 6px) 4px,
		calc(100% - 6px) 2px,
		calc(100% - 10px) 2px,
		calc(100% - 10px) 0px,
		10px 0px,
		10px 2px,
		6px 2px,
		6px 4px,
		4px 4px,
		4px 6px,
		2px 6px,
		2px 10px,
		0px 10px
	);
}

.content-container p {
	font-size: clamp(18px, 5vmin, 24px);
	text-indent: 1.3vw;
	text-align: justify;
}

.content-container h2 {
	padding-left: 0.5vw;
	margin-bottom: 0vh;
	margin-top: 3vh;
	font-size: clamp(22px, 7vmin, 34px);
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */ /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.full-text{
	padding-top: 2ch;
	text-indent: 1vw;
	text-align: justify;
	color: var(--color-whgreen);
	font-size: clamp(12px, 4vmin, 22px);
}


.full-text p{
	font-size: clamp(12px, 4vmin, 22px);
	margin: 0;
}

.know-cont {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	flex-wrap: wrap;
	z-index: 1;
}

.bcs {
	display: flex;
	overflow-y: hidden;
	gap: 14px;
	margin-top: 3vh;
	position: relative;
	-ms-overflow-style: none;  /* Скрываем полосу прокрутки в IE и Edge */
    scrollbar-width: none;  /* Скрываем полосу прокрутки в Firefox */
}

.bcs::-webkit-scrollbar {
    display: none; /* Скрываем полосу прокрутки в WebKit браузерах */
}

.more-but .mbt{
	margin-bottom: 4vh;
	text-align: center;
	color: var(--color-white);
	padding: 0;
	text-indent: 0;
	font-size: clamp(22px, 7vmin, 34px);
}

.more-but{
	position: absolute;
	width: 100%;
	z-index: 5;
	bottom:0;
	background: linear-gradient(to bottom, rgba(12, 12, 99, 0), var(--color-navy) , var(--color-navy));
	border:none;
	padding: 0;
	font-family: "Handjet", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "ELGR" 1, "ELSH" 2;
	cursor:pointer;
}

.brainchildMore{
	position: relative;
	background-color: var(--color-navy);
	min-width: 20vw;
	overflow-x: scroll;
	width: 100%;
	transition: 0.2s;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */ /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
	cursor: pointer;

	-webkit-clip-path: polygon(
		0px calc(100% - 10px),
		2px calc(100% - 10px),
		2px calc(100% - 6px),
		4px calc(100% - 6px),
		4px calc(100% - 4px),
		6px calc(100% - 4px),
		6px calc(100% - 2px),
		10px calc(100% - 2px),
		10px 100%,
		calc(100% - 10px) 100%,
		calc(100% - 10px) calc(100% - 2px),
		calc(100% - 6px) calc(100% - 2px),
		calc(100% - 6px) calc(100% - 4px),
		calc(100% - 4px) calc(100% - 4px),
		calc(100% - 4px) calc(100% - 6px),
		calc(100% - 2px) calc(100% - 6px),
		calc(100% - 2px) calc(100% - 10px),
		100% calc(100% - 10px),
		100% 10px,
		calc(100% - 2px) 10px,
		calc(100% - 2px) 6px,
		calc(100% - 4px) 6px,
		calc(100% - 4px) 4px,
		calc(100% - 6px) 4px,
		calc(100% - 6px) 2px,
		calc(100% - 10px) 2px,
		calc(100% - 10px) 0px,
		10px 0px,
		10px 2px,
		6px 2px,
		6px 4px,
		4px 4px,
		4px 6px,
		2px 6px,
		2px 10px,
		0px 10px
	);

	        clip-path: polygon(
		0px calc(100% - 10px),
		2px calc(100% - 10px),
		2px calc(100% - 6px),
		4px calc(100% - 6px),
		4px calc(100% - 4px),
		6px calc(100% - 4px),
		6px calc(100% - 2px),
		10px calc(100% - 2px),
		10px 100%,
		calc(100% - 10px) 100%,
		calc(100% - 10px) calc(100% - 2px),
		calc(100% - 6px) calc(100% - 2px),
		calc(100% - 6px) calc(100% - 4px),
		calc(100% - 4px) calc(100% - 4px),
		calc(100% - 4px) calc(100% - 6px),
		calc(100% - 2px) calc(100% - 6px),
		calc(100% - 2px) calc(100% - 10px),
		100% calc(100% - 10px),
		100% 10px,
		calc(100% - 2px) 10px,
		calc(100% - 2px) 6px,
		calc(100% - 4px) 6px,
		calc(100% - 4px) 4px,
		calc(100% - 6px) 4px,
		calc(100% - 6px) 2px,
		calc(100% - 10px) 2px,
		calc(100% - 10px) 0px,
		10px 0px,
		10px 2px,
		6px 2px,
		6px 4px,
		4px 4px,
		4px 6px,
		2px 6px,
		2px 10px,
		0px 10px
	);
}

.brainchild {
	display: inline-block;
	position: relative;
	background-color: var(--color-navy);
	min-width: clamp(250px, 65vw, 80px);
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	min-height: 60vh;
	transition: 0.2s;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */ /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
	cursor: pointer;

	-webkit-clip-path: polygon(
		0px calc(100% - 10px),
		2px calc(100% - 10px),
		2px calc(100% - 6px),
		4px calc(100% - 6px),
		4px calc(100% - 4px),
		6px calc(100% - 4px),
		6px calc(100% - 2px),
		10px calc(100% - 2px),
		10px 100%,
		calc(100% - 10px) 100%,
		calc(100% - 10px) calc(100% - 2px),
		calc(100% - 6px) calc(100% - 2px),
		calc(100% - 6px) calc(100% - 4px),
		calc(100% - 4px) calc(100% - 4px),
		calc(100% - 4px) calc(100% - 6px),
		calc(100% - 2px) calc(100% - 6px),
		calc(100% - 2px) calc(100% - 10px),
		100% calc(100% - 10px),
		100% 10px,
		calc(100% - 2px) 10px,
		calc(100% - 2px) 6px,
		calc(100% - 4px) 6px,
		calc(100% - 4px) 4px,
		calc(100% - 6px) 4px,
		calc(100% - 6px) 2px,
		calc(100% - 10px) 2px,
		calc(100% - 10px) 0px,
		10px 0px,
		10px 2px,
		6px 2px,
		6px 4px,
		4px 4px,
		4px 6px,
		2px 6px,
		2px 10px,
		0px 10px
	);

	        clip-path: polygon(
		0px calc(100% - 10px),
		2px calc(100% - 10px),
		2px calc(100% - 6px),
		4px calc(100% - 6px),
		4px calc(100% - 4px),
		6px calc(100% - 4px),
		6px calc(100% - 2px),
		10px calc(100% - 2px),
		10px 100%,
		calc(100% - 10px) 100%,
		calc(100% - 10px) calc(100% - 2px),
		calc(100% - 6px) calc(100% - 2px),
		calc(100% - 6px) calc(100% - 4px),
		calc(100% - 4px) calc(100% - 4px),
		calc(100% - 4px) calc(100% - 6px),
		calc(100% - 2px) calc(100% - 6px),
		calc(100% - 2px) calc(100% - 10px),
		100% calc(100% - 10px),
		100% 10px,
		calc(100% - 2px) 10px,
		calc(100% - 2px) 6px,
		calc(100% - 4px) 6px,
		calc(100% - 4px) 4px,
		calc(100% - 6px) 4px,
		calc(100% - 6px) 2px,
		calc(100% - 10px) 2px,
		calc(100% - 10px) 0px,
		10px 0px,
		10px 2px,
		6px 2px,
		6px 4px,
		4px 4px,
		4px 6px,
		2px 6px,
		2px 10px,
		0px 10px
	);
}

.brainchild:hover {
	opacity: 0.9;
}

.brainchild:hover .mbt{
	color: var(--color-yellow)
}

.bcwp {
	padding-inline: 12px;
}


.brainchild p, .brainchildMore p{
	padding-inline: 1%;
	text-align: justify;
	color: var(--color-whgreen);
}

.brainchild h2, .brainchildMore h2{
	text-align: center;
	padding-inline: 6%;
	margin-top: 1vh;
	margin-bottom: 1vh;
	color: var(--color-whgreen);
}

.bcp {
	display: block;
	height: auto;
	width: 100%;
	-o-object-fit: contain;
	   object-fit: contain;
}

.skill-cont {
	background-color: var(--color-whgreen);
	-webkit-margin-start: 15px;
	        margin-inline-start: 15px;
	-webkit-margin-after: 12px;
	        margin-block-end: 12px;
	height: -webkit-min-content;
	height: -moz-min-content;
	height: min-content;

	-webkit-clip-path: polygon(
		0px calc(100% - 4px),
		2px calc(100% - 4px),
		2px calc(100% - 2px),
		4px calc(100% - 2px),
		4px 100%,
		calc(100% - 4px) 100%,
		calc(100% - 4px) calc(100% - 2px),
		calc(100% - 2px) calc(100% - 2px),
		calc(100% - 2px) calc(100% - 4px),
		100% calc(100% - 4px),
		100% 4px,
		calc(100% - 2px) 4px,
		calc(100% - 2px) 2px,
		calc(100% - 4px) 2px,
		calc(100% - 4px) 0px,
		4px 0px,
		4px 2px,
		2px 2px,
		2px 4px,
		0px 4px
	);

	        clip-path: polygon(
		0px calc(100% - 4px),
		2px calc(100% - 4px),
		2px calc(100% - 2px),
		4px calc(100% - 2px),
		4px 100%,
		calc(100% - 4px) 100%,
		calc(100% - 4px) calc(100% - 2px),
		calc(100% - 2px) calc(100% - 2px),
		calc(100% - 2px) calc(100% - 4px),
		100% calc(100% - 4px),
		100% 4px,
		calc(100% - 2px) 4px,
		calc(100% - 2px) 2px,
		calc(100% - 4px) 2px,
		calc(100% - 4px) 0px,
		4px 0px,
		4px 2px,
		2px 2px,
		2px 4px,
		0px 4px
	);
}

.skillH {
	font-size: clamp(16px, 1.5vw, 24px);
	text-align: center;
	padding-inline: 14px;
	color: var(--color-navy);
	margin: 5px;
	text-shadow: 1px black;
}


@media (min-width: 1100px) {
	.arrs-wr {
		justify-content: left; /* Центрирование по горизонтали */
		padding-left: 2vw;
	}
}

@media (max-width: 1100px) {
	.content-container {
		padding: 2.4vmax;
	}
	.arrow {
		height: 6vmin;
		width: 6vmin;
	}
}

@media (min-width: 900px) {
    .integratedImage {
        width: 50vw;
		display: block; /* Делаем элемент блочным */
        margin-left: auto; /* Автоматические отступы по бокам */
        margin-right: auto;
    }
	.content-container{
		margin-left: 15vw;
		margin-right: 15vw;
	}
}

@media (max-width: 900px) {
	.integratedImage{
		width: 98%;
	}
	.header {
		width: auto;
		margin-inline: 4px;
	}

	nav {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: nowrap;
	}

	nav a {
		font-size: clamp(16px, 6vw, 30px);
	}

	nav a:hover {
		font-size: clamp(16px, 6vw, 30px);
	}

	nav a.active {
		font-size: clamp(18px, 7vw, 32px);
	}
}

