.header{
    background-color: rgb(230, 230, 230);
    padding: 30px 25px;
    margin-inline: 2.6vw;
    right: 25px;
    border-radius: 15px;
    position: sticky;
    top: 25px;
    width: fit-content;
}

.highlighter{
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 25px;
}

body{
    margin:10px;
}

.navigation a.active {
    color: rgb(0, 0, 0);
    font-size: clamp(0px, 5.3vw, 28px);
    font-weight: bold;
    word-spacing: -6px;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    gap: 1.9vw;
}

html {
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none; /* Firefox */
  }

::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}

.navigation-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

body{
    font-family:'Courier New', Courier, monospace;
}

.navigation a{
    color:rgb(0, 0, 0);
    text-decoration: none;
    transition: 0.2s;
    font-size: clamp(0px, 5vw, 26px);
    white-space: nowrap;
    word-spacing: -6px;
}

.navigation a:hover{
    color: rgb(104, 104, 104);
}

.content-container{
    margin-top: 3vh;
    margin-left: 2.6vw;
    margin-right: 2.6vw;
    padding: 30px;
    scroll-margin-block-start: 16vh; 
    background-color: rgb(230, 230, 230);
    border-radius: 15px;
    height: 77vh;
}

.content-container p{
    font-size: clamp(12px, 4vmin, 18px);
}

.content-container h2{
    font-size: clamp(22px, 5vmin, 28px);
}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.know-cont{
    display: flex;
    justify-content:flex-start;
    align-items: end;
    flex-wrap: wrap;
    z-index: 1;
}

.skill-cont{
    background-color: aliceblue;
    margin-inline: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
}

.skillH{
    font-size: 18px;
    text-align: center;
    padding-inline: 14px;
}

